.hero {
  width: 100vw;
  height: 50vh;
  background: $mainPurple;
  text-align: center;
  .text-container {
    max-width: 900px;
  }
  @include flex(center, center, column);
  .hero-h1 {
    @include xl();
    color: white;
    font-weight: 800;
  }
  .hero-h2 {
    @include large();
    color: white;
    font-weight: 100;
  }
  .link-button {
    display: block;
    margin: auto;
    @include link-button();
  }
}
