.white-section {
  .faq {
    width: 100%;
    .faq-header {
      @include largeHeader();
      text-align: center;
      width: 100%;
    }
    .questions {
      margin-top: 50px;
      .qa {
        padding-bottom: 4rem;
        width: 100%;
        .question-container {
          @include flex(space-between, center, row);

          img {
            cursor: pointer;
            pointer-events: all;
            transition: all 1s;
            transform: rotate(0);
          }
          .rotate-arrow {
            transition: all 1s;
            transform: rotate(180deg);
          }
        }
        .question {
          @include mediumHeader();
          font-weight: 600;
          padding-bottom: 0px;
        }

        .answer {
          @include largeText();
          padding-top: 24px;
          transition: all 1s;
          display: none;
        }

        .show-answer {
          display: block;
          animation: fadeIn 1.5s ease-in-out forwards;
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
