.copy-container {
  max-width: 1440px;
  margin: 4rem auto 1.6rem auto;
  padding: 2rem 0;
  display: flow-root;
  .copy-text {
    margin: auto;
    width: 95%;

    .copy-price {
      @include smallHeader();
    }

    .copy-header {
      max-width: 80%;
      @include largeHeader();
    }
    .program-copy {
      @include largeText();
    }
  }
}
