.white-section {
  @include flex(space-between, center, row);
  height: 100%;
  width: 95%;
  max-width: 1440px;
  padding: 4rem 2rem;
  margin: 4rem auto;
  .text-container {
    flex: 1;
    .top-header {
      @include smallHeader();
    }
    .header {
      max-width: 80%;
      @include largeHeader();
    }
    .copy {
      max-width: 80%;
      @include largeText();
    }
    .link-button {
      display: block;
      @include link-button();
    }
  }
  .img-container {
    flex: 1;

    img {
      border-radius: 5px;
    }
  }
}
