.banner {
  min-height: 100%;
  background: $grayBackground;

  padding: 2rem;

  .banner-title {
    margin: 1rem;
    @include medium;
    text-transform: uppercase;
    color: $greyText;
    font-weight: 400;
    text-align: center;
  }

  .banner-container {
    max-width: 1440px;
    margin: auto;
    width: 95%;
  }

  .banner-cities {
    @include flex(space-between, center, row);
    flex-wrap: wrap;
  }

  .banner-items {
    @include flex(space-between, center, row);
    flex-wrap: wrap;
  }

  .city {
    padding: 2rem 2rem;
    @include large();
    color: $darkGrayText;
  }

  .city1 {
    font-family: "Alfa Slab One", cursive;
  }
  .city2 {
    font-family: "Bebas Neue", cursive;
  }
  .city3 {
    font-family: "Bowlby One", cursive;
  }
  .city4 {
    font-family: "Comfortaa", cursive;
  }
  .city5 {
    font-family: "Rammetto One", cursive;
  }
  .city6 {
    font-family: "Righteous", cursive;
  }

  .item {
    padding: 2rem 2rem;
    @include large();
    color: $darkGrayText;
  }

  .item1 {
    font-family: "Alfa Slab One", cursive;
  }
  .item2 {
    font-family: "Bebas Neue", cursive;
  }
  .item3 {
    font-family: "Bowlby One", cursive;
  }
  .item4 {
    font-family: "Comfortaa", cursive;
  }
  .item5 {
    font-family: "Rammetto One", cursive;
  }
  .item6 {
    font-family: "Righteous", cursive;
  }
}
