.banner {
  min-height: 100%;
  background: $grayBackground;

  padding: 2rem;

  .banner-title {
    margin: 1rem;
    padding-top: 1rem;
    @include mediumHeader;
    text-align: center;
  }

  .banner-container {
    max-width: 1440px;
    margin: auto;
    width: 95%;
  }

  .banner-cities {
    @include flex(space-between, center, row);
    flex-wrap: wrap;
  }

  .banner-items {
    @include flex(space-between, center, row);
    flex-wrap: wrap;
  }

  .item {
    font-size: 3.6rem;
    padding: 2rem 2rem;
    font-weight: 800;
    line-height: 46px;
    padding-bottom: 30px;
    color: $darkGrayText;
  }

  .item1 {
    font-family: "Alfa Slab One", cursive;
  }
  .item2 {
    font-family: "Bebas Neue", cursive;
  }
  .item3 {
    font-family: "Bowlby One", cursive;
  }
  .item4 {
    font-family: "Comfortaa", cursive;
  }
  .item5 {
    font-family: "Rammetto One", cursive;
  }
  .item6 {
    font-family: "Righteous", cursive;
  }
}
