* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
}

button,
label,
input,
textarea,
p {
  font-size: 1.8rem;
}

ul {
  list-style: none;
}

li {
  font-size: 2.4rem;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.main-head {
  background: #5e36ca;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 95%;
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
  padding: 2rem;
}

nav .co-name {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 30rem;
          flex: 2 1 30rem;
}

nav .co-name .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

nav .co-name img {
  width: 100%;
  margin-top: 4rem;
}

nav .co-name .name {
  margin-left: 1rem;
  color: white;
  font-size: 3.6rem;
  font-family: "Pacifico", cursive;
  letter-spacing: 1px;
  position: relative;
}

nav .co-name .name::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 3px;
  height: 3px;
  border-radius: 25%;
  background: #04edd2;
  -webkit-animation: underline 1.5s ease-in-out forwards, fadeIn 1.5s linear;
          animation: underline 1.5s ease-in-out forwards, fadeIn 1.5s linear;
}

nav .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  font-family: "Inter", sans-serif;
}

@-webkit-keyframes underline {
  from {
    right: 100%;
  }
  to {
    right: 0;
  }
}

@keyframes underline {
  from {
    right: 100%;
  }
  to {
    right: 0;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero {
  height: 100%;
  background: #5e36ca;
  text-align: center;
  padding: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero .text-container {
  max-width: 900px;
}

.hero .hero-h1 {
  font-size: 6.5rem;
  line-height: 75px;
  padding-bottom: 30px;
  color: white;
  font-weight: 800;
}

.hero .hero-h2 {
  font-size: 3.6rem;
  line-height: 46px;
  padding-bottom: 30px;
  color: #383838;
  color: white;
  font-weight: 100;
}

.hero .link-button {
  display: block;
  margin: auto;
  background: #2abaa0;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 1.75rem 2.25rem;
  font-size: 2.4rem;
  color: #ffffff;
  border-radius: 10px;
  text-shadow: 1px 1px 3px #949494;
}

.banner {
  min-height: 100%;
  background: #f7f7fc;
  text-align: center;
  padding: 2rem;
}

.banner .banner-title {
  margin: 1rem;
  font-size: 2.4rem;
  line-height: 36px;
  padding-bottom: 24px;
  color: #383838;
  text-transform: uppercase;
  color: #8a8a8a;
  font-weight: 400;
}

.banner .banner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1440px;
  margin: auto;
  width: 95%;
}

.banner .city {
  padding: 2rem 2rem;
  font-size: 3.6rem;
  line-height: 46px;
  padding-bottom: 30px;
  color: #383838;
  color: #383838;
}

.banner .city1 {
  font-family: "Alfa Slab One", cursive;
}

.banner .city2 {
  font-family: "Bebas Neue", cursive;
}

.banner .city3 {
  font-family: "Bowlby One", cursive;
}

.banner .city4 {
  font-family: "Comfortaa", cursive;
}

.banner .city5 {
  font-family: "Rammetto One", cursive;
}

.banner .city6 {
  font-family: "Righteous", cursive;
}

.white-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: 95%;
  max-width: 1440px;
  padding: 4rem 2rem;
  margin: 4rem auto;
}

.white-section .text-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.white-section .text-container .top-header {
  font-size: 1.8rem;
  line-height: 28px;
  padding-bottom: 16px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #8a8a8a;
  font-weight: 800;
}

.white-section .text-container .header {
  max-width: 80%;
  font-size: 3.6rem;
  line-height: 46px;
  padding-bottom: 30px;
  color: #383838;
  font-weight: 800;
}

.white-section .text-container .copy {
  max-width: 80%;
  font-size: 2.4rem;
  line-height: 36px;
  padding-bottom: 24px;
  color: #383838;
  font-weight: 300;
}

.white-section .text-container .link-button {
  display: block;
  background: #2abaa0;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 1.75rem 2.25rem;
  font-size: 2.4rem;
  color: #ffffff;
  border-radius: 10px;
  text-shadow: 1px 1px 3px #949494;
}

.white-section .img-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.white-section .img-container img {
  border-radius: 5px;
}

.testimonial-section {
  background: #f7f7fc;
  padding: 4rem 2rem;
  margin: 4rem auto;
}

.testimonial-section .header {
  text-align: center;
  max-width: 100%;
  font-size: 3.6rem;
  line-height: 46px;
  padding-bottom: 30px;
  color: #383838;
  font-weight: 800;
}

.testimonial-section .testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: 95%;
  max-width: 1440px;
  margin: auto;
}

.testimonial-section .testimonial .text-container {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.testimonial-section .testimonial .text-container .testimonial-copy {
  max-width: 100%;
  font-size: 2.4rem;
  line-height: 36px;
  padding-bottom: 24px;
  color: #383838;
  font-weight: 300;
  position: relative;
}

.testimonial-section .testimonial .text-container .testimonial-copy .quote::after, .testimonial-section .testimonial .text-container .testimonial-copy .quote::before {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 100px;
  color: #2abaa0;
}

.testimonial-section .testimonial .text-container .testimonial-copy .open-quote::before {
  content: "\201C";
}

.testimonial-section .testimonial .text-container .testimonial-copy .close-quote::after {
  position: absolute;
  content: "\201D";
  bottom: -50px;
}

.testimonial-section .testimonial .img-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.white-section .faq {
  width: 100%;
}

.white-section .faq .faq-header {
  font-size: 3.6rem;
  line-height: 46px;
  padding-bottom: 30px;
  color: #383838;
  text-align: center;
  width: 100%;
}

.white-section .faq .questions {
  margin-top: 50px;
}

.white-section .faq .questions .qa {
  padding-bottom: 4rem;
  width: 100%;
}

.white-section .faq .questions .qa .question-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.white-section .faq .questions .qa .question-container img {
  cursor: pointer;
  pointer-events: all;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.white-section .faq .questions .qa .question-container .rotate-arrow {
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.white-section .faq .questions .qa .question {
  font-size: 2.4rem;
  line-height: 36px;
  padding-bottom: 24px;
  color: #383838;
  padding-bottom: 0px;
}

.white-section .faq .questions .qa .answer {
  font-size: 2.4rem;
  line-height: 36px;
  padding-bottom: 24px;
  color: #383838;
  font-weight: 300;
  padding-top: 24px;
  -webkit-transition: all 1s;
  transition: all 1s;
  display: none;
}

.white-section .faq .questions .qa .show-answer {
  display: block;
  -webkit-animation: fadeIn 1.5s, ease-in-out forwards;
          animation: fadeIn 1.5s, ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=globals.css.map */