.testimonial-section {
  background: $grayBackground;
  padding: 4rem 2rem;
  margin: auto;

  .header {
    text-align: center;
    max-width: 100%;
    @include largeHeader();
    font-weight: 800;
  }
  .testimonial {
    @include flex(space-between, center, row);
    height: 100%;
    width: 95%;
    max-width: 1440px;
    margin: auto;

    .text-container {
      flex: 2;
      .testimonial-copy {
        max-width: 100%;
        @include largeText();
        font-weight: 300;
        position: relative;

        .quote {
          &::after,
          &::before {
            font-family: Georgia, "Times New Roman", Times, serif;
            font-size: 100px;
            color: $mainGreen;
          }
        }
        .open-quote {
          &::before {
            content: "\201C";
          }
        }
        .close-quote {
          &::after {
            position: absolute;
            content: "\201D";
            bottom: -50px;
          }
        }
      }
    }
    .img-container {
      flex: 1;
    }
  }
}
